{{#> layout/dashboard}}
    {{#*inline "page"}}
        <article>
            <span>{{ createdAt }}</span>
            <br>
            <span>Author: {{ authorId }}</span>
            <h1>{{ title }}</h1>
            <p>{{ content }}</p>
        </article>
    {{/inline}}
{{/layout/dashboard}}
