<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Tiagocode - Dashboard</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no"
          name="viewport"/>
    <link rel="icon" href="/static/dashboard/img/icon.ico" type="image/x-icon"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="/static/dashboard/js/plugin/webfont/webfont.min.js"></script>
    <script src="/static/dashboard/js/webfont.js"></script>
    <link href="/static/dashboard/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/dashboard/css/atlantis.css" rel="stylesheet"/>
    <link href="/static/dashboard/css/style.css" rel="stylesheet"/>
    <link href="/static/dashboard/css/prism.css" rel="stylesheet"/>
</head>

<body data-background-color="dark">
{{> page }}

<script src="/static/dashboard/js/core/jquery.3.2.1.min.js"></script>
<script src="/static/dashboard/js/core/popper.min.js"></script>
<script src="/static/dashboard/js/core/bootstrap.min.js"></script>
<script src="/static/dashboard/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="/static/dashboard/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
<script src="/static/dashboard/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<script src="/static/dashboard/js/plugin/datatables/datatables.min.js"></script>
<script src="/static/dashboard/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
<script src="/static/dashboard/js/plugin/sweetalert/sweetalert.min.js"></script>
<script src="/static/dashboard/js/atlantis.min.js"></script>

</body>
</html>
